#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #28b76b; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 4px; /* Rounded corners */
  font-size: 24px; /* Increase font size */
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

#myBtn:hover {
  background-color: #28a745; /* Add a dark-grey background on hover */
}

#myBtn i{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  transition: all 0.4s;
}